/*h1{

    color: bisque;
}

b{color: blue;}
*/
/*
#one{
    color: red;

}

#two{color: greenyellow;}

#three{color: blue;}

.select{

    color: navy;
}


h1,hr,b{color: greenyellow;}
#one,b{color: red;}

.select,h1,#two{
    color: blue;
}
body{

    background-color: antiquewhite;
}
*{
    background-color: bisque;
}
div>p{

    color: red;
}
div~p{

    color: red;
}

pseudo selector
a:link{
    color: white;
}
a:hover{
    color: red;
}
[type="number"]{

    color: pink;
}
[class*="test"]{

    color: red;
}
color property

h1{
    color: rgb(255, 176, 159  );

}
p{

    color: blue;
}

*{
    background-color: rgb(246, 255, 213);
}
h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through
    
}
a{
    text-decoration: none;
}
p{
    text-indent: 30;
    word-spacing: 25px;
     letter-spacing: 30px;
     line-height: 30px;

}

[type="submit"]{
/*
    background-color: #7f96ffcd;
    height: height="51px" width="175px";
    border-radius: 25px; 
    height: 35px;
    margin: 5px 0px;
    background-color: #2196f3;
    border: none;
    border-radius:  5px;
    width: 40%;
}

/*
a{
    text-decoration: none;
    color:#2196f3;
}
h6{
    text-align: center;
    
}
table{
    border-radius: 5px;
    border-spacing: 0cm;
}
input{

    margin: 5px 0px;
    height: 35px;
    padding: 7px;
}
a:hover{
    color: rgb(241, 22, 22);
}
image{
    align-items: center;
}
select{
 color: #2196f3 ;
}
h6{
    font-size: medium;
}
h1{
    font-size: 2em;
}
p{
    font-size: 2em;
}
p{
    font-weight: 900;

}
h1{
    font-weight: normal;
}
p{
    font-style: normal;
    font-family: 'Young Serif', serif;
}
.box{

    width: 400px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(233, 333, 111);
    border-radius: 20px;
    
}
border short hand
.box{

    border: 2px dotted violet;
}

.box{

    border-bottom-style: dashed ;
    border-top: solid;
    border-top-color: pink;
}
.box{


    height: 300px;
    background-color: pink;

    border-radius: 15px 20px 30px;
}
.input{
 border: 0px 0px 1px 0px;

}
.box{
    width:300px;
    padding: 10px;
    border:3px solid;
    margin:200px auto;
    
}
.box{
    border: 1px solid;
}
h1,p{
    display: inline-block;
 

}
b,i{
    display: block;
}


*/

.shadow{

    width: 200px;
    height: 300px;
    margin: 200px auto;
    border: 2px solid;
    text-align: center;
    box-shadow: 10px 10px 5px 5px yellow;
}
h1{
    color: red;
    font-size: larger;
    text-align: center;
    text-shadow: 10px 10px 5px yellow;
}
.bg{

    width: 60%;
    height: 200px;
    background-color: red;
    color: black;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    box-sizing: border-box;
    margin: 200px auto;
    background-image: url(google\ logo.png);
    background-size: 100px;
   background-repeat: no-repeat;
   background-size: 1000px;
   padding-left: 10px;
   padding-top: 100px;
   background-attachment: fixed;

}
.dummy{

    width: 100%;
    height: 2000px;
    border: 2px solid;

}
.fourth{
    color: aqua;
    position: fixed;
    font-weight: bold;
    position: absolute;
    left: 0px;
    bottom: 0px;
    
}

.wpbox{
    height: 20000px;
    border: 1px solid;
}

 
#waid{
    position: fixed;
    right: 17px;
    bottom: 73px;
}
#telid{
    position: fixed;
    right: 118px;
    bottom: 50px;
}



 


























 